*{
    margin: 0%;
    padding: 0%;
} 

button{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 140);
    border-radius: 10px;
    padding: 5px;
}
button:hover{
    color: black;
    background-color: yellow;
}